/* helpers/alignment.css */

#sign-up {
  border: 47px solid;
  width: 45%;
  margin: 50px auto;
  border-radius: 63px 4px 15px 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#sign-up .icon {
  font-size: 2rem;
}

/* layout/base.css */

/* modules/headline.css */

#sign-up h3 {
  font-size: 1.5rem;
  margin-top: 1.5em;
  color: #111;
  margin-bottom: 1.5em;
}

/* modules/paragraph.css */

#sign-up p {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

/* modules/form.css */

#sign-up input {
  font: inherit;
  outline: 0;
  display: block;
  margin-bottom: 15px;
}

#sign-up .form__field {
  position: relative;
}

#sign-up .form__field .icon {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%)
}

#sign-up .form__input {
  border-radius: 0.25em;
  border-style: solid;
  border-width: 2px;
  font-size: 1.5rem;
  padding: 0.5em 4em 0.5em 2em;
}

#sign-up .form__input:valid {
  border-color: forestgreen;
}

#sign-up .form__input:valid+.icon::after {
  content: '😃';
}

#sign-up .form__input:invalid {
  border-color: firebrick;
}

#sign-up .form__input:invalid+.icon::after {
  content: '😳';
}

#sign-up .login-link {
  margin-top: 20px;
  text-decoration: none;
  color: black;
  display: block;
  cursor: default;
}

#sign-up .login-link span {
  text-decoration: underline;
  cursor: pointer;
}

#sign-up button {
  color: #fff;
  background-color: #222;
  display: block;
  align-content: center;
  margin: 0 auto;
  padding: 15px 34px;
  border-radius: 6px;
}

#sign-up button:hover {
  transition: 250ms;
  color: #242424;
  font-size: +20px;
  background-color: #fff;
  cursor: pointer;
}

#sign-up .error {
  color: red;
  font-size: '28px';
  font-family: 'Train One', cursive;
  display: inline-block;
  width: 500px;
  margin: 0 auto;
}