/* * {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #7EC855;
    font-family: 'Roboto', sans-serif;
} */

.shopping-cart {
    width: 750px;
    height: 423px;
    margin: 80px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.10);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.shopping-cart .title {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
}

.shopping-cart .item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
}

.shopping-cart .item:nth-child(3) {
    border-top: 1px solid #E1E8EE;
    border-bottom: 1px solid #E1E8EE;
}

.shopping-cart .buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
}

.shopping-cart>.delete-btn, .like-btn {
    display: inline-block;
    Cursor: pointer;
}

.shopping-cart .delete-btn {
    width: 18px;
    height: 17px;
}

.shopping-cart .like-btn {
    position: absolute;
    top: 9px;
    left: 15px;
    background: url('https://firebasestorage.googleapis.com/v0/b/moonpillows-676c2.appspot.com/o/images%2Ftwitter-heart.png?alt=media&token=acdf45b8-a57b-45b4-a8cd-9ef3598da7f3');
    width: 60px;
    height: 60px;
    background-size: 2900%;
    background-repeat: no-repeat;
}
.shopping-cart .like-btn:hover {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
}



@keyframes animate {
    0% {
        background-position: left;
    }
    50% {
        background-position: right;
    }
    100% {
        background-position: right;
    }
}

.shopping-cart .image {
    margin-right: 50px;
}


#snimka {
    max-width: 280px ;
    max-height: 189px ;

}

.shopping-cart .description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
}

.shopping-cart .description>span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
}

.shopping-cart .description span:first-child {
    margin-bottom: 5px;
}

.shopping-cart .description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
}

.shopping-cart .quantity {
    padding-top: 20px;
    margin-right: 60px;
}

.shopping-cart .quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

.shopping-cart button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.shopping-cart .minus-btn img {
    margin-bottom: 3px;
}

.shopping-cart .plus-btn img {
    margin-top: 2px;
}

.shopping-cart button:focus, .shopping-cart input:focus {
    outline: 0;
}