.main {
  margin: 0 auto;
  background-color: white;
  display: inline-block;
  width: 80%;
  height: 100%;
  opacity:  0.8 ;
}

.main h1 {
  color: black;
  opacity: rgba(128,128,127,0);
}

.main #myimage {
  width: auto;
  height: 360px;
}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
}