.pillow-page {
  width: 100%;
}

.pillow-page .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px;
  display: flex;
}

/* Columns */

.pillow-page .left-column {
  width: 50%;
  display: inline-block;
  position: relative;
}

.pillow-page .right-column {
  display: inline-block;
  width: 60%;
  margin-top: 60px;
}

/* Left Column */

.pillow-page .left-column img {
  height: 60%;
  width: 390px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
}

.pillow-page .left-column img.active {
  opacity: 1;
}

/* Right Column */

/* Product Description */

.pillow-page .product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}

.pillow-page .product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.pillow-page .product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}

.pillow-page .product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

/* Product Configuration */

.pillow-page .product-color span, .pillow-page .cable-config span {
  font-size: 14px;
  font-weight: 400;
  color: #86939E;
  margin-bottom: 20px;
  display: inline-block;
}

/* Product Color */

.pillow-page .product-color {
  margin-bottom: 30px;
}

.pillow-page .color-choose div {
  display: inline-block;
}

.pillow-page .color-choose input[type="radio"] {
  display: none;
}

.pillow-page .color-choose input[type="radio"]+label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}

.pillow-page .color-choose input[type="radio"]+label span {
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.pillow-page .color-choose input[type="radio"]#red+label span {
  background-color: #C91524;
}

.pillow-page .color-choose input[type="radio"]#blue+label span {
  background-color: #314780;
}

.pillow-page .color-choose input[type="radio"]#black+label span {
  background-color: #323232;
}

.pillow-page .color-choose input[type="radio"]:checked+label span {
  background-repeat: no-repeat;
  background-position: center;
}

/* Cable Configuration */

.pillow-page .cable-choose {
  margin-bottom: 20px;
}

.pillow-page .cable-choose button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5E6977;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}

.pillow-page .cable-choose button:hover, .pillow-page .cable-choose button:active, .pillow-page .cable-choose button:focus {
  border: 2px solid #86939E;
  outline: none;
}

.pillow-page .cable-config {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}

.pillow-page .cable-config a {
  color: #358ED7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}

.pillow-page .cable-config a:before {
  content: "?";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}

/* Product Price */

.pillow-page .product-price {
  display: flex;
  align-items: center;
}

.pillow-page .product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}

.pillow-page .cart-btn {
  display: inline-block;
  background-color: #1B1919;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}

.pillow-page .cart-btn:hover {
  background-color: #1b19198c;
}

/* Responsive */

@media (max-width: 940px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }
  .left-column, .right-column {
    width: 100%;
  }
  .left-column img {
    width: 300px;
    right: 0;
    top: -65px;
    left: initial;
  }
}

@media (max-width: 535px) {
  .left-column img {
    width: 220px;
    top: -85px;
  }
}