@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: yellow;
  font-size: 100px;
}




#products-title  {
  color: black;
}

.products-header h1  {
  text-align: center;

}

.products-header form {
text-align: right;
}
.products-header>.product-forms input {
  font: inherit;
  padding: 0.2em 0.5em;
}
.products-header > .product-forms label {
  font-family: 'Lobster', cursive;
  font-size: 30px;
}

.products-header h1 {
  color: #1B1919;
  font-size: 90px;
  text-shadow: 2px 4px 4px #aaa;
  font-family: 'Dancing Script', cursive;
  transition: all 2.5s;
}

.product-forms {
  display: inline-block;
  margin: 50px 0 0 20%;
}